@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <button id="subscribeBtn" class="btn btn-primary">Subscribe</button>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
<script src="js/signalr/dist/browser/signalr.js"></script>
<script src="js/updates.js"></script>
